html, body {
	font-family: 'Noto Sans SC', sans-serif;
	margin: 0;
  padding: 0;
}
/*Title and P for Title*/
#thecamerontravels {
	padding-top:200px;
	padding-left:30px;
	size:50px;
}
#thecamerontravelsp {
	size:20px;
	padding-left:35px;
}
.thecamerontravels, .thecamerontravelsp {
	 margin: 0px;
  	padding: 0px;
}
/*Navbar*/
#navbar {
  background-color:white;
  padding-left:1100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav ul {
	display: inline;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 4px;
}
nav ul li a {
	text-decoration:none;
}
ul li {
	display: inline-block;
}
ul li a {
	color:#333;
}
ul li a:hover {
	color:#99a57e;
}
.vl
 {
	margin-top:345px;
	padding-top:2715px;
  border-left: 6px solid green;
  height: 500px;
  position:absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
table {
	align-content:center;
}
/*This affects the 2020*/
a {
  text-decoration:none;
  color:#99a57e;
  size::15px;
}
a:hover {
  color:#333c2c;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height:300px;
  width:500px;
  margin-left:40px;
  margin-top:50px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
	height:300px;
  width:500px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.cardd {
  /* Add shadows to create the "card" effect */
  color:white;
  transition: 0.3s;
  height:50%;
  width:50%;
  
/* On mouse-over, add a deeper shadow */
.cardd:hover {
	height:50%;
  width:50%;
}
footer {
	margin-top:50px;
}
/*Google Map*/
iframe {
  margin-top:10px;
}
/*TABLE RESIZING*/
@media
only screen and (max-width: 1500px) {
  table, thead, tbody, th, td, tr {
    
 
